.introbox{
    background-color:var(--background4selectedbox);
    padding:15px 23px;
    color:white;
    /* margin-left: 8rem; */

    
    display: inline-block;
    border-top-left-radius: 25px;
    font-size: 17px;
    cursor: pointer;
}
.myIcons {
  display: flex;
  gap:1.5rem;
  padding-top:3rem;
  /* margin-left: 3.6rem; */
  cursor: pointer;
  font-size: 26px;
}

.lin,.git,.fac,.twi,.ins{
  border:1px solid white;
  padding: 5px;
  color:rgb(233, 228, 228);
  border-radius: 12px;
  box-shadow: rgba(205, 206, 208, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  transition: transform 0.3s ease-in-out;
  background-color: black;
  
}

.lin:hover, .git:hover,.fac:hover,.twi:hover,.ins:hover{
 transform: scale(1.2); 
  }
  



/* .myIcons{
  display: flex;
  color:white;
  cursor: pointer;
  font-size: 24px;
  padding-top:3rem;
  margin-left: 5rem;
  gap:1.4rem;
}
.myIcons:hover{
color:red;
} */
.imageAndText{
    display: flex;
    justify-content: space-between;
    padding:9rem 9rem;
    /* background-color: red; */

  }

  .thequote{
    font-size: 32px;
    padding: 2rem;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 3rem;
  }

  cite{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-top: 1rem;
    color:orangered;}
  
  .quotebox{
    box-shadow: 1px 2px 3px orangered;
    border-bottom-right-radius: 12px;
    background-color: #2c2b2b;
    display: grid;
    width:555px;

    border: 2px solid orangered;
    animation: animateBorder infinite 1s linear;

     border-right: 4px solid var(--background4selectedbox); 
    border-top: 3px solid var(--background4selectedbox);
  }
  @keyframes animateBorder {
    0% {
      border-color: #e71e1e;
      transform: translate(0, 0);
    }
    50% {
      border-color: #e4e4df;
      transform: translate(0, 0);
    }
    100% {
      border-color: orangered;
      transform: translate( 0);
    }
  }

.introTwo {
  width: 472px;
  margin-top: 1.5rem;
  font-size: 57px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased; /* Makes the font appear smoother on WebKit browsers */
  -webkit-text-stroke: 3px rgb(0, 0, 0); /* Adds a transparent text stroke to improve readability */
}


.introThree{
    font-weight: 400;
    margin-top: 1rem;}
/* .twoTexts{
    padding-top: 7rem;
    padding-left: 9rem;
} */
 
.threeTexts{
   width:545px;
}


.btn {
    background-color:var(--background4selectedbox);
    color: #fff;
    padding: 14px 22px;
    border: none;
    font-size: 17px;;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    /* margin-left: 8rem; */
    }
    
    .btn:hover {

    transform: translateX(2px);
    animation: hover-animation 0.6s ease-in-out infinite;
    color:white;
    z-index: 1;

}
    
    .btn::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
    color:white;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    }
    
    .btn:hover::before {
        background-color:var(--background4selectedbox);
        border-radius: 10px;
    transform: scaleY(1);
    animation: hover-animation 0.6s ease-in-out infinite;
    }
    
    @keyframes hover-animation {
    0% {
    transform: scale(1);
    }
    50% {
    transform: scale(1.1);
    }
    100% {
    transform: scale(1);
    }
    }


.buttonguys{
    margin-top: 2rem;
    gap:4rem;
}

.myWork{
    margin-left: 1rem;
}




  .firstImage{
    height: 435px;
    width:355px
  }



  @media (min-width: 1130px) and (max-width: 1200px) {
    .imageAndText{
      display: flex;
      background-color: red;

  }
  .quotebox{
    background-color: brown;
    width: 534px;
    margin-left: 7rem;
  }

  .thequote{
    font-size: 27px;
    /* padding: 2rem; */
    letter-spacing: 1px;
    text-align: center;
    margin-top: 3rem;
    width: 534pz;
}

.introTwo {
  width: 372px;
  margin-top: 1.5rem;
  font-size: 47px;
  font-weight: 700;}

.threeTexts{
  width:445px;
}
  }














  @media (min-width: 901px) and (max-width: 1129px) {
    .imageAndText{
      display: grid;
      background-color: rgb(100, 232, 76);

  }
  .quotebox{
    /* background-color: brown;
    width: 534px;
    margin-left: 7rem; */
  }

  .thequote{
    /* font-size: 27px;
    /* padding: 2rem; */
    /* letter-spacing: 1px;
    text-align: center;
    margin-top: 3rem;
    width: 534pz; */
} */


.threeTexts{
  display: grid;
  padding-left: 11rem;
  /* grid-template-columns: (3fr); */
}

   
  }



























  @media (min-width: 577px) and (max-width: 700px) {}
@media (min-width: 464px) and (max-width: 576px) { }
@media (min-width: 357px) and (max-width: 465px) {}
@media (min-width: 264px) and (max-width: 356px) {}





  

  
