.introbox{
    background-color:var(--background4selectedbox);
    padding:15px 23px;
    color:white;
    display: inline-block;
    border-top-left-radius: 25px;
    font-size: 17px;
    cursor: pointer;
}

.myIcons {
  display: flex;
  gap:1.5rem;
  padding-top:3rem;
  cursor: pointer;
}

.lin,.git,.fac,.twi,.ins{
  border:1px solid rgb(42, 40, 40);
  font-size: 38px;

  padding: 5px;
  color:black;
  border-radius: 12px;
  box-shadow: rgba(202, 135, 12, 0.27) 0px 0px 0.25em, rgba(238, 122, 14, 0.05) 0px 0.25em 1em;
  transition: transform 0.7s ease-in-out;
  background-color: rgb(252, 247, 247);
  
}

.git{
  background-color: var(--background4selectedbox);
  color:white;
}
.lin:hover, .git:hover,.fac:hover,.twi:hover,.ins:hover{
 transform: scale(1.2); 
  }
  

.imageAndText{
    display: flex;
    justify-content: space-between;
    padding:9rem 9rem;

  }

  .quotext{
    font-size: 32px;
    padding: 2rem;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 3rem;
  }

  cite{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-top: 1rem;
    color:orangered;}
  
  .quotebox{
    box-shadow: 1px 2px 3px orangered;
    border-bottom-right-radius: 12px;
    background-color: #2c2b2b;
    display: grid;
    width:555px;
    border: 2px solid orangered;
    animation: animateBorder infinite 1s linear;
    border-right: 4px solid var(--background4selectedbox); 
    border-top: 3px solid var(--background4selectedbox);
  }


  @keyframes animateBorder {
    0% {
      border-color: #e71e1e;
      transform: translate(0, 0);
    }
    50% {
      border-color: #e4e4df;
      transform: translate(0, 0);
    }
    100% {
      border-color: orangered;
      transform: translate( 0);
    }
  }

.introOgbeni {
  width: 472px;
  margin-top: 1.5rem;
  font-size: 57px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased; 
  -webkit-text-stroke: 1px rgb(20, 20, 20); 
}


.introweb{
    font-weight: 400;
    margin-top: 1rem;
  font-size: 25px;}

 
.threeTexts{
   width:545px;
}


.btn {
    background-color:var(--background4selectedbox);
    color: #fff;
    padding: 14px 22px;
    margin-top: 1rem;
    border: none;
    font-size: 17px;;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    }
    
    .btn:hover {

    transform: translateX(2px);
    animation: hover-animation 0.6s ease-in-out infinite;
    color:white;
    z-index: 1;

}
    
    .btn::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
    color:white;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    }
    
    .btn:hover::before {
        background-color:var(--background4selectedbox);
        border-radius: 10px;
    transform: scaleY(1);
    animation: hover-animation 0.6s ease-in-out infinite;
    }
    
    @keyframes hover-animation {
    0% {
    transform: scale(1);
    }
    50% {
    transform: scale(1.1);
    }
    100% {
    transform: scale(1);
    }
    }


.myWork{
    margin-left: 1rem;
}

  .firstImage{
    height: 435px;
    width:355px
  }

 @media (min-width:1000px) and (max-width:1200px) {
   .imageAndText{
    background-color: red;
    justify-content: space-between;
   }



  }

 @media (min-width:849px) and (max-width:905px) {
  .imageAndText{
   background-color: rgb(216, 216, 32);
   padding: 5rem 7rem;
   display:grid;
  }

  .quotebox{
    width:554px;
    margin-top: 5rem;
  }
  .quotext{
    font-size: 22px;
    padding: 1.3rem;
  }
}

@media (min-width:650px) and (max-width:850px) {
  .imageAndText{
   background-color: rgb(26, 136, 138);
   
   display: grid;
   justify-content: space-between;
   padding:4rem 3rem;
  }
.quotebox{
  width:563px;
}
  .myIcons{
    /* width:555px; */
    margin-bottom: 7rem;
  }

}

@media (min-width:400px) and (max-width:650px) {
  
  .imageAndText{
    background-color: rgb(138, 65, 26);
    
    display: grid;
    padding:4rem 1rem;

   }

 .threeTexts{
  padding: 0 4rem;
 }
 .quotebox{
   width:373px;
   margin: 0 auto;
 }
   .myIcons{
     
     margin-bottom: 7rem;
   }
 
 }
 
@media (min-width:300px) and (max-width:399px) {
  .imageAndText{
   background-color: rgb(216, 75, 32);
   display: flex;
   flex-wrap: wrap;

   
  }
  cite{
    font-size: 26px;

  }
  .introOgbeni{
    width:305px;
    font-size: 37px;
  }
  .introbox{
    text-align: center;
   
  }

  .myIcons {
    gap:1rem;
    font-size: 20px;
  }
  .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }
  .quotext{
    font-size: 22px;
  }
}