.introbox{
    background-color:var(--background4selectedbox);
    padding:15px 23px;
    color:white;
    display: inline-block;
    border-top-left-radius: 25px;
    font-size: 17px;
    cursor: pointer;
}

.myIcons {
  display: flex;
  gap:1.5rem;
  padding-top:3rem;
  cursor: pointer;
}

.lin,.git,.fac,.twi,.ins{
  border:1px solid rgb(42, 40, 40);
  font-size: 38px;

  padding: 5px;
  color:black;
  border-radius: 12px;
  box-shadow: rgba(202, 135, 12, 0.27) 0px 0px 0.25em, rgba(238, 122, 14, 0.05) 0px 0.25em 1em;
  transition: transform 0.7s ease-in-out;
  background-color: rgb(252, 247, 247);
  
}

.git{
  background-color: var(--background4selectedbox);
  color:white;
}
.lin:hover, .git:hover,.fac:hover,.twi:hover,.ins:hover{
 transform: scale(1.2); 
  }
  

.imageAndText{
    display: flex;
    justify-content: space-between;
    padding:9rem 9rem;

  }

  .quotext{
    font-size: 32px;
    padding: 2rem;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 3rem;
  }

  cite{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-top: 1rem;
    color:orangered;}
  
  .quotebox{
    box-shadow: 1px 2px 3px orangered;
    border-bottom-right-radius: 12px;
    background-color: #2c2b2b;
    display: grid;
    width:555px;
    border: 2px solid orangered;
    animation: animateBorder infinite 1s linear;
    border-right: 4px solid var(--background4selectedbox); 
    border-top: 3px solid var(--background4selectedbox);
  }


  @keyframes animateBorder {
    0% {
      border-color: #e71e1e;
      transform: translate(0, 0);
    }
    50% {
      border-color: #e4e4df;
      transform: translate(1px);
    }
    100% {
      border-color: #ff4500;
      transform: translate( 1px);
    }
  }

.introOgbeni {
  width: 472px;
  margin-top: 1.5rem;
  font-size: 57px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased; 
  -webkit-text-stroke: 1px rgb(20, 20, 20); 
}


.introweb{
    font-weight: 400;
    margin-top: 1rem;
  font-size: 25px;}

 
.threeTexts{
   width:545px;
}


.btn {
    background-color:var(--background4selectedbox);
    color: #fff;
    padding: 14px 22px;
    margin-top: 1rem;
    border: none;
    font-size: 17px;;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    }
    
    .btn:hover {

    transform: translateX(2px);
    animation: hover-animation 0.6s ease-in-out infinite;
    color:white;
    z-index: 1;

}
    
    .btn::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
    color:white;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    }
    
    .btn:hover::before {
        background-color:var(--background4selectedbox);
        border-radius: 10px;
    transform: scaleY(1);
    animation: hover-animation 0.6s ease-in-out infinite;
    }
    
    @keyframes hover-animation {
    0% {
    transform: scale(1);
    }
    50% {
    transform: scale(1.1);
    }
    100% {
    transform: scale(1);
    }
    }


.myWork{
    margin-left: 1rem;
}

  .firstImage{
    height: 435px;
    width:355px
  }

 @media (min-width:1000px) and (max-width:1200px) {
   .imageAndText{
    background-color: red;
    justify-content: space-between;
   }



  }

 @media (min-width:849px) and (max-width:999px) {
  .imageAndText{
   background-color: rgb(216, 216, 32);
   padding: 5rem 7rem;
   display:grid;
  }

  .quotebox{
    width:554px;
    margin-top: 5rem;
  }
  .quotext{
    font-size: 22px;
    padding: 1.3rem;
  }
}

@media (min-width:650px) and (max-width:848px) {
  .imageAndText{
   background-color: rgb(26, 136, 138);
   
   display: grid;
   justify-content: space-between;
   padding:4rem 3rem;
  }
.quotebox{
  width:563px;
}

cite{
  margin-bottom: 3rem;
}

.btn{
  margin-top: 2rem;
}
  .myIcons{
    margin-bottom: 5rem;
    margin-top: 2rem;
  }

}

@media (min-width:545px) and (max-width:650px) {
  
  .imageAndText{
    background-color: rgb(138, 65, 26);
    
    display: grid;
    padding:4rem 0;

   }

   .introOgbeni{
    width:433px;
    font-size: 54px;
   }

 .threeTexts{
  padding: 0 4rem;
 }
 .quotebox{
   width:393px;
   margin: 0 auto;
 }
   .myIcons{
    
    margin:3rem 0;
   }

   cite{
    margin-bottom: 3rem;
  }
  

.btn{
  /* margin-top: 4rem; */
display: block;
margin: 3rem 0;
   }
      
  .introweb{
    font-weight: 400;
    margin-top: 1rem;
  font-size: 21px;
width:355px;
text-align: center;}

 }



 @media (min-width:515px) and (max-width:545px) {
  .imageAndText{
    background-color: rgb(185, 180, 178);
    
    display: flex;
    flex-wrap: wrap;
    padding-left:3rem;
 }

 .myIcons {
  display:none;
  padding-left: 0;
  width: 301px;
  margin-top: 3rem;
  gap:none;
 }

 .quotebox{
  margin-top:3rem;
}

.quotext{
  font-size: 25px;
  padding: 2rem;
  letter-spacing: 1px;
  text-align: center;
}
  

cite{
margin-bottom: 3rem;}
 }


 
 @media (min-width:458px) and (max-width:515px) {
  .imageAndText{
    background-color: rgb(160, 56, 14);
    
    display: flex;
    flex-wrap: wrap;
    padding-left:3rem;
 }

 
.introOgbeni {
  width: 412px;
  margin-top: 1.5rem;
  font-size: 47px;
}
  
.introweb{
  font-weight: 400;
  margin-top: 1rem;
font-size: 21px;
width:355px;

}


.myIcons {
  display:none;
  padding-left: 0;
  width: 281px;
  margin-top: 3rem;
  gap:none;
 }

 .quotebox{
  margin-top:3rem;
  border:none;
  background-color: transparent;

}

cite{
  margin-bottom: 3rem;
}

.quotext{
  font-size: 24px;
  width:343px;
   }
  }



  @media (min-width:402px) and (max-width:458px) {
    .imageAndText{
      background-color: rgb(34, 27, 24);
      
      display: flex;
      flex-wrap: wrap;
      padding-left:3rem;
   }
  
   
  .introOgbeni {
    width: 352px;
    margin-top: 1.5rem;
    font-size: 42px;
  }
    
  .introweb{
    font-weight: 400;
    margin-top: 1rem;
  font-size: 21px;
  width:315px;
  
  }
  
  
  .myIcons {
    display:none;
    padding-left: 0;
    width: 271px;
    margin-top: 3rem;
    gap:none;
   }
  
   .quotebox{
    margin-top:3rem;
    border:none;
    background-color: transparent;
  
  }
  
  cite{
    margin-bottom: 3rem;
  }
  
  .quotext{
    font-size: 24px;
    width:303px;
     }
    }


    @media (min-width:345px) and (max-width:402px) {
      .imageAndText{
        background-color: rgb(193, 157, 141);
        
        display: flex;
        flex-wrap: wrap;
        padding-left:2rem;
     }
    
     
    .introOgbeni {
      width: 312px;
      margin-top: 1.5rem;
      font-size: 37px;
    }
      
    .introweb{
      font-weight: 400;
      margin-top: 1rem;
    font-size: 21px;
    width:315px;
    
    }
    
    
    .myIcons {
      display:none;
      padding-left: 0;
      width: 271px;
      margin-top: 3rem;
      gap:none;
     }
    
     .quotebox{
      margin-top:3rem;
      border:none;
      background-color: transparent;
    
    }
    
    cite{
      margin-bottom: 3rem;
    }
    
    .quotext{
      font-size: 24px;
      width:293px;
       }
      }

      @media (min-width:305px) and (max-width:345px) {
        .imageAndText{
          background-color: rgb(170, 141, 193);
          
          display: flex;
          flex-wrap: wrap;
          padding-left:1.5rem;
       }
      
       
      .introOgbeni {
        width: 312px;
        margin-top: 1.5rem;
        font-size: 37px;
      }
        
      .introweb{
        font-weight: 400;
        margin-top: 1rem;
      font-size: 21px;
      width:315px;
      
      }
      
      
      .myIcons {
        display:none;
        padding-left: 0;
        width: 271px;
        margin-top: 3rem;
        gap:none;
       }
      
       .quotebox{
        margin-top:3rem;
        border:none;
        background-color: transparent;
      
      }
      
      cite{
        margin-bottom: 3rem;
      }
      
      .quotext{
        font-size: 24px;
        width:293px;
         }
        }