.intro{
    background-color: var(--background4selectedbox);
    padding:11px 16px;
    
    display: inline-block;
    border-top-left-radius: 25px;
    font-size: 15px;
    cursor: pointer;
}
.imageAndText{
    display: flex;
    justify-content: space-between;
    padding:6rem 7rem;
    /* background-color: red; */

  }

  .thequote{
    width:555px;
  }

.introTwo{
    width:422px;
    margin-top: 1.5rem;
    font-size: 47px;
    font-weight: 700;
}

.introThree{
    font-weight: 400;
    margin-top: 1rem;}
/* .twoTexts{
    padding-top: 7rem;
    padding-left: 9rem;
} */

/* .threeTexts{
    margin-top: 7rem;
    margin-left: 11rem;
} */


.btn {
    background-color:var(--background4selectedbox);
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    font-size: 17px;;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    }
    
    .btn:hover {

    transform: translateX(2px);
    animation: hover-animation 0.6s ease-in-out infinite;
    color:white;
    z-index: 1;

}
    
    .btn::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
    color:white;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    }
    
    .btn:hover::before {
        background-color:var(--background4selectedbox);
        border-radius: 10px;
        opacity: 25%;
    transform: scaleY(1);
    animation: hover-animation 0.6s ease-in-out infinite;
    }
    
    @keyframes hover-animation {
    0% {
    transform: scale(1);
    }
    50% {
    transform: scale(1.1);
    }
    100% {
    transform: scale(1);
    }
    }


.buttonguys{
    margin-top: 2rem;
    gap:4rem;
}

.myWork{
    margin-left: 1rem;
}




  .firstImage{
    height: 435px;
    width:355px
  }

