.intro{
    background-color:white;
    padding:15px 23px;
    color:black;
    margin-left: 8rem;

    
    display: inline-block;
    border-top-left-radius: 25px;
    font-size: 17px;
    cursor: pointer;
}

.myIcons{
  display: flex;
  color:var(--background4selectedbox);
  cursor: pointer;
  font-size: 24px;
  padding-top:3rem;
  margin-left: 5rem;
  gap:1.4rem;
}
.imageAndText{
    display: flex;
    justify-content: space-between;
    padding:10rem 9rem;
    /* background-color: red; */

  }

  .thequote{
    width:555px;
    border-right: 4px solid var(--background4selectedbox);
    border-top: 3px solid var(--background4selectedbox);
    border-style:inset;
    padding:3rem;
    font-size: 22px;
    box-shadow: 1px 2px 3px orangered;
    border-top-left-radius: 22px;


    border: 2px solid orangered;
    animation: animateBorder infinite 1s linear;
  }
  
  @keyframes animateBorder {
    0% {
      border-color: #e71e1e;
      transform: translate(1px, 1px);
    }
    50% {
      border-color: #e4e4df;
      transform: translate(1px, 0);
    }
    100% {
      border-color: #e07811;
      transform: translate( 0);
    }
  }
  

.introTwo{
    width:472px;
    margin-top: 1.5rem;
    font-size: 57px;
    font-weight: 700;
}

.introThree{
    font-weight: 400;
    margin-top: 1rem;}
/* .twoTexts{
    padding-top: 7rem;
    padding-left: 9rem;
} */
 .threeTexts{
   width:545px;
}


.btn {
    background-color:var(--background4selectedbox);
    color: #fff;
    padding: 14px 22px;
    border: none;
    font-size: 17px;;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-left: 8rem;
    }
    
    .btn:hover {

    transform: translateX(2px);
    animation: hover-animation 0.6s ease-in-out infinite;
    color:white;
    z-index: 1;

}
    
    .btn::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
    color:white;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    }
    
    .btn:hover::before {
        background-color:var(--background4selectedbox);
        border-radius: 10px;
    transform: scaleY(1);
    animation: hover-animation 0.6s ease-in-out infinite;
    }
    
    @keyframes hover-animation {
    0% {
    transform: scale(1);
    }
    50% {
    transform: scale(1.1);
    }
    100% {
    transform: scale(1);
    }
    }


.buttonguys{
    margin-top: 2rem;
    gap:4rem;
}

.myWork{
    margin-left: 1rem;
}




  .firstImage{
    height: 435px;
    width:355px
  }

