.firstline {
    width: 100%;
    height: 10px;
    border-radius: 50px;
    margin: 20px 0;
    
    
    background-color:white;
}

.secondline{
    display: flex;
    align-items: flex-start; 
    background-color:var(--background4selectedbox);
     justify-content: left; 
    width: 80%;
    border-radius: 50px;
    height: 10px;
}
   
 
    .ekeji{
    width: 82%;

    }

    .eketa{
        width:85%
    }
      
.ekerin, .ekarun{
    width:60%;
}

.ekefa{
    width:75%;
}

 .wholeSkill{
   
    display: grid;
    justify-content: center;
    margin-top: 11rem;
    align-items: center;
    /* background-image:radial-gradient(black,white) */




 } 

 /* .one{
    margin-top: 1rem;
 }
  */

 .bar{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .skillinone{
    width:100%;
    margin-top: 2rem;
 }

 .htmltext{
    font-weight: var(--font-header-weight) ;
    font-size: var(--font-header-size);
 }

 .skillintro{
    width: 633px;
    font-size: 24px;
    line-height: 2.5rem;
    margin-top: 2rem;
 }

 .skills{
    text-align: center;
 }

 @media (min-width: 701px) and (max-width: 990px) {
.wholeSkill{
   background-color
: red;
 }}