* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 115px;
    padding: 0 2rem;
    
}

.fir{
    width:122px;
    height:72px;
    background-color: rgb(240, 235, 235);
    margin-left: -6rem;
    border-radius: 35% 45% 24%;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    margin: 0 2rem;
    text-decoration: none;
    color: white;
    position: relative;
    font-size: 22px;
}

nav a:hover{
    font-weight: 600;
    color: var(--background4selectedbox);
  }
  nav a::after{
    content:" ";
    position:absolute;
    width:100%;
    height:5px;
    background-color:var(--background4selectedbox);
    border-radius: 5px;
    left:0;
    top:2.7rem;
    transform:scaleX(0);
    transform-origin: right;
    transition: transform .6s;
  
  
  }
  
  nav a:hover::after{
    transform: scaleY(1);
    transform-origin:left;
  
  }

.nav-btn {
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 1.7rem;
}

.nav-btn {
    display: none;
} 


/* .responsive_nav a {
    margin: 10px 0; 
    font-size: 1.6rem;
    color: white; 
} */


/* @media screen and (max-width: 1006px) { */
    @media (min-width: 200px) and (max-width: 1006px) {

    header {
        display: flex;
        justify-content: space-around;
        height: 115px;
        padding: 0 2rem;
        background-color: rgb(195, 255, 0);
        
    }

    .nav-btn {
        display: flex;
        color: var(--background4selectedbox);
        position: relative;
        left:3rem;

    }

    /* .fir{
        position: fixed;
    } */

 .navbar {
        display: none;
    }

    
.responsive_nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 110px; /* Adjust based on the header height */
    left: 0;
    width: 100%;
    background-color:var(--background4selectedbox)
}

.responsive_nav:hover{
    color:white;
}

    /* .responsive_nav {

        top: 0;
    } */

    .responsive_nav a {
        margin: 20px 0; /* Adjust spacing */
    }
}
