
 .aboutme{
    text-align: center;
    padding-top:3rem;

} 


.ogbeni{
    width:725px;
    /* margin:4r */
    line-height: 3rem;
    font-size: 21px;
    
}

.forabout{
    /* height: 750vh; */
    padding:0 7rem; 
}

.aboutpix{
    display:flex;
    justify-content: space-between;
    margin-top: 2rem;
}

