
 .aboutme{
    text-align: center;
    padding-top:3rem;

} 


.ogbeni{
    width:725px;
    /* margin:4r */
    line-height: 3rem;
    font-size: 21px;
    
}

.forabout{
    padding:0 7rem; 
}

.aboutpix{
    display:flex;
    justify-content: space-between;
    margin-top: 2rem;
}

@media (min-width:1205px) and (max-width:1400px) {
    .forabout{
        background-color: yellow;
    }
.ogbeni{
    width: 595px;
}
    
}


@media (min-width:641px) and (max-width:1205px) {
    .forabout{
        background-color: rgb(255, 72, 0);
    }
.ogbeni{
   width: 575px;
    /* padding:6rem; */
    line-height: 2rem;
    margin-left:-1rem;
    line-clamp: 4rem;
    text-align: left;
}

.aboutpix{
    display: grid;

}

.firstImage{
    max-width:95%;
    margin: 0 auto;
    display: block;
 
    
 }
    
}


@media (min-width:495px) and (max-width:640px) {
    .forabout{
        background-color: rgb(30, 1, 175);
    }
.ogbeni{
    width:414px;
    line-height: 2rem;
     align-items: right;
     font-size: 16px; 
}
.aboutpix{
    display: grid;

}

.firstImage{
    margin: 0 auto;
}
.forabout{
    padding:0 4rem; 
    align-items: center;
}

}


@media (min-width:430px) and (max-width:495px) {
    .forabout{
        background-color: rgb(168, 164, 189);
    }
.ogbeni{
    width:374px;
    line-height: 2rem;
     align-items: right;
     font-size: 16px; 
}
.aboutpix{
    display: grid;

}

.firstImage{
    max-width:95%;
    margin: 0 auto;
    display: block;
 
    
 }


.forabout{
    padding:0 2rem; 
    align-items: center;
}

}

@media (min-width:384px) and (max-width:430px) {
    .forabout{
        background-color: rgb(46, 170, 192);
    }
.ogbeni{
    width:317px;
    line-height: 2rem;
     font-size: 16px;
     padding: 0 1.5rem; 
}
.aboutpix{
    display: grid;

}

.firstImage{
   max-width:65%;
   margin: 0 auto;
   display: block;

   
}



.forabout{
    padding:0 1rem; 
    align-items: center;
}

}

@media (min-width:314px) and (max-width:384px) {
    .forabout{
        background-color: rgb(46, 170, 192);
    }
.ogbeni{
    width:317px;
    line-height: 2rem;
     font-size: 16px;
     padding: 0 1.5rem; 
}
.aboutpix{
    display: grid;

}

.firstImage{
   max-width:65%;
   margin: 0 auto;
   display: block;

   
}



.forabout{
    padding:0 1rem; 
    align-items: center;
}

}