
header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding:32px 0;
  width:100%;
  color:white;
  position:fixed;
  z-index: 1;
  background-color: rgb(35, 33, 33);
}
.centerLink .ile ul{
  color: var(--background4selectedbox);
}
.centerLink a{
  position: relative;
  text-decoration: none;
  font-size: 18px;
  color:white;
}
.centerLink a:hover{
  font-weight: 600;
  color: var(--background4selectedbox);
}
.centerLink a::after{
  content:"";
  position:absolute;
  width:100%;
  height:5px;
  background-color:var(--background4selectedbox);
  border-radius: 5px;
  left:0;
  top:2.7rem;
  transform:scaleX(0);
  transform-origin: right;
  transition: transform .6s;


}

.centerLink li a:hover::after{
  transform: scaleY(1);
  transform-origin:left;

}

.centerLink ul {
  display: flex;
  list-style-type: none;
  gap: 52px;
}



.homed a{
  color:var(--background4selectedbox)
}