.img{
   
    display:block;
    max-width: 100%;
     
}

a{
    text-decoration: none;
    color:white;
}

.ooo{
    display:block;
    max-width: 100%;
    height:auto;
}
.eefqqqd{
    margin-top:4rem;
}
.mypro{
    color:white;
    font-size: 36px;
    margin-top:7rem;
    text-align: center;
}




.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:0 auto;
    margin-top: 4rem;
    color:black;
    width:75%;

    
}


.card--container{
    display:flex;
    flex-wrap: wrap;
    gap:4rem;
}


.card--article{
    position:relative;
    overflow:hidden;

}

.card-image{
    width:328px;
    height:328px;
    border-radius: 1.5rem;
}

.card--data{
    width:280px;
    background-color:rgb(38, 37, 37);
    padding:1.5rem 1.2rem;
    box-shadow: 0 8px 24px (0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute ;
    bottom:-9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    transition: opacity 1s 1s;
    opacity:0; 
    
}

.card--description{
    display:block;
    font-size:30px;
    color :white;
    text-align: right;
    /* margin-bottom: .25rem; */

}

.githublink{
    text-align:right;
    margin-top: 2rem;
    padding-right: 16rem;
    font-size: 1.5rem;
}
.card-title{
    font-size: 32px;
    font-weight:700;
    color:white;
    margin-bottom:.75rem ;
    text-align: center;
}

.card--button {
    text-align: center;
    color:orangered;
    font-weight: 600;

 ;   font-size: 24px;
}

.card--button:hover{
    text-decoration: underline;

}

.card--article:hover .card--data{
    animation: show-data 1s forwards;
    opacity:1;
    transition: opacity .3s;

}

.card--article:hover{
    animation: remove-overflow 2s forwards;
} 


@keyframes show-data{
    50%{
        transform :translateY(-10rem)
    }

    100%{
        transform :translateY(-7rem)
    }
}

@keyframes remove-overflow{
    to{
        overflow: initial;
    }
}

@keyframes remove-data{
    0%{
        transform: translateY(-7rem);
    }
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(-.5rem);
    }

}

@keyframes show-overflow{
    0%{
        overflow:initial;
        pointer-events:none;
    }
    50%{
        overflow: hidden;
    }}

    @media (min-width:1100px) and (max-width:1483px) {
     .card-image{
        width: 277px;
        height: 277px;
     }
      }