.container{
    display: flex;
    gap:121px;
    row-gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;
    color:black;
    
}


.box{
    height:305px;
    width:305px;
    background-color: rgb(247, 243, 242);
    border-radius: 20px;
    display: flex;
    cursor: pointer;
}

.box::before {
    animation: jiggle 2s finite;
    }
    
    @keyframes jiggle {
    0% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    50% {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
    
    100% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    }

    .pro{
        text-align: center;
        margin-top: 5rem;
        font-weight: 700;
        font-size: 37px;
    }


    .easypix{
        width:225px;
        height:175px;
        margin: 1rem 2rem;
        
    }

    .easyBank{
        text-align: center;
        margin-top: 2rem;
        font-weight: 600;
    }