.footer{
    /* height:25vh; */
    background-color: rgb(33, 32, 32);
width: 100%;
color:rgb(175, 168, 168);
display: flex;
justify-content:space-evenly;
padding:4rem 0;

}
.get{
    font-size: 27px;
    font-weight: 600;
  }
.mymail{
  padding-top: 1rem;
  font-size: 22px;
}

.mynumber{
  padding-top: 1rem;
  font-size: 22px;

}
  .myIcons{
    padding-top:2rem;
 font-size: 22px;
  }

  .soc{
    font-weight:600;
    font-size: 27px;
  }

  .ing{
    font-weight:600;
    font-size: 27px;
  }


  .eede{
    padding-top: 1rem;
    font-size: 22px;
  }
@media (min-width: 628px) and (max-width:885px) {

    .footer{
       display: flex;
       flex-wrap: wrap;
       gap:4rem;
        }

    
.myIcons {
    display: flex;
    gap:1rem;
    /* text-align: center; */
    /* justify-content: center; */
    font-size: 36px;
    padding-top: 1rem;
  }

  .soc{
    text-align: center;
    font-size: 22px;
    
  }
  .mygmail{
    text-align: center;
  }

  .get{
    font-size: 22px;
    font-weight: 530;
  }

  .copyright{
    text-align: center;
  }
    
  .ing{
    font-size: 22px;
    font-weight: 500;

  }
.eede{
    padding-top:1rem;
}
}








@media (min-width: 164px) and (max-width: 627px) {

    .footer{
        display: grid;
        gap: 6rem;
        }

    
.myIcons {
    display: flex;
    gap:1rem;
   justify-content: center;
   align-items: center;
    text-align: center;
    font-size: 36px;
    padding-top: 1rem;
  }

  .soc{
    text-align: center;
    font-size: 22px;
    
  }
  .mygmail{
    text-align: center;
  }

  .get{
    font-size: 22px;
  }

  .copyright{
    text-align: center;
  }
    
  .ing{
    font-size: 22px;

  }
.eede{
    padding-top:1rem;
}
}
