

form {
    max-width: 640px; 
    margin: 4rem auto;
    padding: 40px;
    border: 1px solid #ccc;
    box-shadow: 0 22px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    }
    
    label {
    display: block;
    margin-bottom: 31px;
    /* padding-left:5rem; */
    }

    .send{
        text-align: center;
        margin-top: 4rem;
        font-size: 34px;
    }
  
    
    input[type="text"], input[type="number"], input[type="email"] {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    margin: 1rem ;
    max-width: 600px;
    
    padding: 20px;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    }
 
  
    
    textarea  {
    width: 100%;
    height: 200px;
    font-size: 24px;
    margin: 1rem ;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    resize: vertical;
    max-width: 600px;
    }

    

    .bttn {
        background-color:var(--background4selectedbox);
        color: #fff;
        padding: 14px 35px;
        margin-left: 1rem;
        margin-top: 1rem;
        border: none;
        font-size: 17px;;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        }
        
        .bttn:hover {
    
        transform: translateX(2px);
        animation: hover-animation 0.6s ease-in-out infinite;
        color:white;
        z-index: 1;
    
    }
        
        .bttn::before {
        content: "";
        position: absolute;
        top: 0;
        z-index: -1;
        left: 0;
        color:white;
        width: 100%;
        height: 100%;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.3s ease-in-out;
        }
        
        .btn:hover::before {
            background-color:var(--background4selectedbox);
            border-radius: 10px;
        transform: scaleY(1);
        animation: hover-animation 0.6s ease-in-out infinite;
        }
        
        @keyframes hover-animation {
        0% {
        transform: scale(1);
        }
        50% {
        transform: scale(1.1);
        }
        100% {
        transform: scale(1);
        }
        }
    
    
    