
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
}

:root {
    --font-color: orangered; 
    --background4selectedbox:var(--font-color);
    --padding-left:4rem;
    --padding-right:4rem;
    --font-size:17px;
    --borderRadius:25px;
    --font:"Raleway";
    --fonted-color:white;
    --font-header-weight:600;
    --font-header-size:24px;

  }
  

 body{
    font-family: var(--font);
    font-size: var(--font-size);
    background-color: rgb(34, 33, 33);
    color:var(--fonted-color)
}
  


  /* body{
    color:black;
    background-color: azure;
  } */

  /* body{
    color:white;
    background-color: purple;
  } */